GDW-1-Project-3/.vs/GDW-1-Project-3/v15/Browse.VC.opendb
GDW-1-Project-3/\.vs/GDW-1-Project-3/v15/
GDW-1-Project-3/.vs/GDW-1-Project-3/v15/Browse.VC.db
GDW-1-Project-3/.vs/GDW-1-Project-3/v15/ipch/AutoPCH/b486a53e4ff24e25/MAIN.ipch
*.ipch
